.Container {
  background-color: #38cccc;
  color: honeydew;
  margin-bottom: 80px;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 2em;
  border-radius: 15px;
}
.Landing {
  text-align: center;
  margin: auto;
  padding: 2%;
  width: 60%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 2em;
}
